[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "web"
buildCommand = "npm run build"
startCommand = "npm run start"

[services.healthcheck]
path = "/api/health"
timeout = 100
interval = 60
