[build]
builder = "nixpacks"
buildCommand = "npm install && npm run db:generate && npm run build"

[deploy]
startCommand = "npm start"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[[services]]
name = "web"
type = "web"
