project:
  type: website
  output-dir: _site

website:
  title: "Eurostat Dashboards Factory"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    toc: true
    theme: cosmo
execute:
  echo: false
